<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<display-name>EmployeeLoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.ers.controller.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<display-name>EmployeeRegistration</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationDaoImpl</servlet-name>
  	<display-name>EmployeeRegistrationDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.EmployeeRegistrationDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeNotFoundException</servlet-name>
  	<display-name>EmployeeNotFoundException</display-name>
  	<description></description>
  	<servlet-class>com.ers.exception.EmployeeNotFoundException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>InvalidRequestException</servlet-name>
  	<display-name>InvalidRequestException</display-name>
  	<description></description>
  	<servlet-class>com.ers.exception.InvalidRequestException</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Employee</servlet-name>
  	<display-name>Employee</display-name>
  	<description></description>
  	<servlet-class>com.ers.model.Employee</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationService</servlet-name>
  	<display-name>EmployeeRegistrationService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.EmployeeRegistrationService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeRegistrationServiceImpl</servlet-name>
  	<display-name>EmployeeRegistrationServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.EmployeeRegistrationServiceImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginDao</servlet-name>
  	<display-name>EmployeeLoginDao</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.EmployeeLoginDao</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginDaoImpl</servlet-name>
  	<display-name>EmployeeLoginDaoImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.dao.EmployeeLoginDaoImpl</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginService</servlet-name>
  	<display-name>EmployeeLoginService</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.EmployeeLoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeLoginServiceImpl</servlet-name>
  	<display-name>EmployeeLoginServiceImpl</display-name>
  	<description></description>
  	<servlet-class>com.ers.service.EmployeeLoginServiceImpl</servlet-class>
  </servlet>
   <servlet>
        <servlet-name>abc</servlet-name>
        <servlet-class>ValidationServ</servlet-class>
    </servlet>
   <servlet>
   	<servlet-name>DisplayEmployees</servlet-name>
   	<display-name>DisplayEmployees</display-name>
   	<description></description>
   	<servlet-class>com.ers.controller.DisplayEmployees</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EmployeeRegistrationSuccess</servlet-name>
   	<display-name>EmployeeRegistrationSuccess</display-name>
   	<description></description>
   	<servlet-class>com.ers.controller.EmployeeRegistrationSuccess</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>ListAllEmployeeForUpdate</servlet-name>
   	<display-name>ListAllEmployeeForUpdate</display-name>
   	<description></description>
   	<servlet-class>com.ers.controller.ListAllEmployeeForUpdate</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>UpdateEmployee</servlet-name>
   	<display-name>UpdateEmployee</display-name>
   	<description></description>
   	<servlet-class>com.ers.controller.UpdateEmployee</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EmployeeMapper</servlet-name>
   	<display-name>EmployeeMapper</display-name>
   	<description></description>
   	<servlet-class>com.ers.db.EmployeeMapper</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>HibernateUtil</servlet-name>
   	<display-name>HibernateUtil</display-name>
   	<description></description>
   	<servlet-class>com.ers.db.HibernateUtil</servlet-class>
   </servlet>
   <servlet>
   	<servlet-name>EmployeeEntity</servlet-name>
   	<display-name>EmployeeEntity</display-name>
   	<description></description>
   	<servlet-class>com.ers.entity.EmployeeEntity</servlet-class>
   </servlet>
    <servlet-mapping>
        <servlet-name>abc</servlet-name>
        <url-pattern>/validation</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServlet</servlet-name>
  	<url-pattern>/EmployeeLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistration</servlet-name>
  	<url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationDaoImpl</servlet-name>
  	<url-pattern>/EmployeeRegistrationDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeNotFoundException</servlet-name>
  	<url-pattern>/EmployeeNotFoundException</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>InvalidRequestException</servlet-name>
  	<url-pattern>/InvalidRequestException</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Employee</servlet-name>
  	<url-pattern>/Employee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationService</servlet-name>
  	<url-pattern>/EmployeeRegistrationService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationServiceImpl</servlet-name>
  	<url-pattern>/EmployeeRegistrationServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginDao</servlet-name>
  	<url-pattern>/EmployeeLoginDao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginDaoImpl</servlet-name>
  	<url-pattern>/EmployeeLoginDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginService</servlet-name>
  	<url-pattern>/EmployeeLoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeLoginServiceImpl</servlet-name>
  	<url-pattern>/EmployeeLoginServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DisplayEmployees</servlet-name>
  	<url-pattern>/DisplayEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeRegistrationSuccess</servlet-name>
  	<url-pattern>/EmployeeRegistrationSuccess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListAllEmployeeForUpdate</servlet-name>
  	<url-pattern>/ListAllEmployeeForUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateEmployee</servlet-name>
  	<url-pattern>/UpdateEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeMapper</servlet-name>
  	<url-pattern>/EmployeeMapper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>HibernateUtil</servlet-name>
  	<url-pattern>/HibernateUtil</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeEntity</servlet-name>
  	<url-pattern>/EmployeeEntity</url-pattern>
  </servlet-mapping>
</web-app>
